<h1>Teste voltando</h1>

<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Code Blog </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  
</head>
<body>
  <header>

    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="font-weight: bold;">MyCodeBlog</span>
      </div>
    </nav>

  </header>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

  <section>

    <div class="container" style="width: 60%; padding-bottom: 30px;">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: white; padding-left: 0px">
          <li class="breadcrumb-item active" aria-current="page">Posts</li>
        </ol>

      <div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="post : ${posts}">
        <div class="card-body">

          <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
            <span th:text="${post.autor}"></span>
            <span th:text="${post.data}"></span>
          
          </p>

          <a href="#"><h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;" ><span th:text="${post.titulo}"></span></h4></a>

          <p class="card-text"><span th:utext="${#strings.abreviate(post.texto,400)}"></span></p>
         

        </div>
      </div>

    </div>

  </section>

  
</body>
</html>

-->